@use 'encabezado';
@use 'index';
@use 'planificacion';
@use '_reserva';
@use '_registrar';
@use '_borrar';
@use '_pendiente';

/*INICIO contenido genérico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

