@charset "UTF-8";
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.encabezado {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.encabezado__container {
  width: 15%;
}
.encabezado__logo {
  width: 80%;
}

.navegador {
  width: 85%;
  height: 10vh;
}
.navegador__list {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5%;
  padding-inline-end: 6%;
  padding-block-start: 1%;
}
.navegador__item {
  list-style: none;
  text-decoration: none;
}
.navegador__menu {
  width: 100%;
  font-size: 1.5vw;
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.menu__sub {
  position: relative;
  margin: auto;
}
.menu__sub:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}
.menu__sub:hover:after {
  width: 100%;
}

.boton-menu {
  width: 120%;
  height: 5vh;
  background-color: rgb(241, 98, 2);
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 1vw;
}
.boton-menu:hover {
  background-color: rgb(241, 70, 2);
}

.container__modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(153, 153, 153, 0.747);
  pointer-events: none;
}

.show {
  pointer-events: auto;
}

.modal {
  width: 35%;
  height: 98vh;
  border-radius: 25px;
  flex-flow: column;
  position: fixed;
  top: 1%;
  left: 30%;
  background-color: rgba(0, 128, 58, 0.747);
}
.modal-encabezado {
  height: 15vh;
  width: 35vw;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: right;
  gap: 20%;
}
.modal-encabezado__figure {
  width: 30%;
}
.modal-encabezado__logo {
  padding-block-start: 5%;
  width: 90%;
}
.modal-encabezado__button {
  width: 5vw;
  height: 5vh;
  background-color: transparent;
  border: 0;
  padding-inline-end: 15%;
}
.modal-encabezado__close {
  width: 2vw;
}

.form-modal {
  height: 83vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: none;
  gap: 5%;
}
.form-modal__title {
  padding-block-start: 3%;
  font-size: 25px;
  font-weight: bold;
}
.form-modal__container {
  width: 75%;
  height: 70vh;
  display: flex;
  flex-flow: column;
  align-items: none;
  justify-content: left;
  gap: 3%;
}
.form-modal__item {
  font-size: 1.2vw;
}
.form-modal__input {
  height: 6vh;
  border-radius: 15px;
  border: none;
}
.form-modal__olvido {
  text-align: center;
  text-decoration: underline;
}
.form-modal__inicioS {
  color: white;
  text-align: center;
  font-size: 1.5vw;
  background-color: red;
}
.form-modal__o {
  text-align: center;
}
.form-modal__google {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  text-align: center;
  color: black;
  background-color: white;
}
.form-modal__logo-google {
  height: 0%;
}
.form-modal__registrar {
  color: white;
  text-align: center;
  font-size: 1.5vw;
  background-color: blue;
}
.form-modal__letra-peq {
  text-align: center;
}
.form-modal__politicas {
  font-weight: 900;
  text-decoration: none;
  color: black;
}
.form-modal__politicas:hover {
  text-decoration: underline;
}

.container-index {
  background-size: cover;
}

.contenido-index {
  position: relative;
  text-align: center;
}
.contenido-index__container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.contenido-index__boton {
  background-color: rgb(241, 98, 2);
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 1vw;
  padding-block: 1.5%;
  padding-inline: 3%;
  font-size: 1.5vw;
  border: 2px solid red;
}
.contenido-index__boton:hover {
  background-color: rgb(241, 70, 2);
}

.container-planificacion {
  width: 100%;
  height: auto;
  background-color: rgb(45, 114, 45);
  margin: 0 auto;
  position: relative;
}

.encabezado-planificacion {
  background-image: url("../images/imgen0.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
}

.encabezado-buscador {
  width: 70%;
  height: 40vh;
  position: absolute;
  top: 15%;
  left: 14%;
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0.5490196078), rgba(0, 0, 0, 0.822));
  border-radius: 15px;
  box-shadow: 5px 5px 2px rgba(3, 3, 3, 0.5607843137);
}
.encabezado-buscador__title {
  font-family: Verdana;
  font-size: 30px;
  color: rgb(67, 175, 67);
  text-align: center;
  margin: 3%;
}
.encabezado-buscador__formulario {
  height: 10vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.encabezado-buscador__contenedor {
  width: 15%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 1.2vw;
  background-color: white;
  border: 1px solid rgba(207, 206, 206, 0.705);
}
.encabezado-buscador__contenedor-primero {
  border-radius: 15px 0px 0px 15px;
}
.encabezado-buscador__contenedor-ultimo {
  border-radius: 0px 15px 15px 0px;
}
.encabezado-buscador__input {
  width: 95%;
  height: 5vh;
  border: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(207, 206, 206, 0.705);
}
.encabezado-buscador__buscar {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2vw;
  border-radius: 0px 15px 15px 0px;
  background-color: rgb(241, 98, 2);
  color: white;
  font-weight: 300;
}
.encabezado-buscador__botonera {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.encabezado-buscador__btn {
  width: 15%;
  text-align: center;
  border: 3px solid rgb(45, 114, 45);
  padding-block: 1%;
  padding-inline: 2%;
  border-radius: 20px;
  font-size: 1.4vw;
}
.encabezado-buscador__btn:hover {
  border: 3px solid rgb(40, 100, 40);
  background-color: rgb(40, 100, 40);
}

.encabezado-arrow {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.encabezado-arrow__img {
  width: 8%;
  margin: 2%;
}

.principal-planificacion {
  width: 100%;
  height: 110vh;
  background-color: rgb(45, 114, 45);
}
.principal-planificacion__title {
  text-align: center;
  margin-block: 3%;
  color: #ffffff;
  font-size: 6vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.principal-planificacion__conteiner {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.principal-planificacion__img {
  width: 35%;
  height: 35vh;
  background-size: cover;
  background-position: top;
}
.principal-planificacion__img-japon {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2549019608), rgba(20, 20, 20, 0.842)), url("../images/dest1.jpg");
}
.principal-planificacion__img-japon:hover {
  scale: 1.1;
}
.principal-planificacion__img-alemania {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2549019608), rgba(20, 20, 20, 0.842)), url("../images/dest2.png");
}
.principal-planificacion__img-alemania:hover {
  scale: 1.1;
}
.principal-planificacion__img-argentina {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2549019608), rgba(20, 20, 20, 0.842)), url("../images/dest3.png");
}
.principal-planificacion__img-argentina:hover {
  scale: 1.1;
}
.principal-planificacion__img-congo {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2549019608), rgba(20, 20, 20, 0.842)), url("../images/dest4.jpg");
  background-position: center;
}
.principal-planificacion__img-congo:hover {
  scale: 1.1;
}
.principal-planificacion__desc {
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: end;
  justify-content: center;
  font-size: 1.5vw;
  color: white;
  padding: 6%;
}

.container-reserva {
  height: 100vh;
  background-color: rgb(45, 114, 45);
}

.encabezado-reserva {
  height: 20vh;
}

.principal-reserva__title {
  text-align: center;
  font-size: 2vw;
  border: 2px solid red;
}
.principal-reserva__conteiner {
  display: flex;
  justify-content: space-around;
}

.reserva-izquierda {
  margin-inline-start: 3%;
  margin-block-start: 3%;
  width: 55%;
  height: 30vh;
  background: #ffffff;
  border-radius: 15px;
  padding: 3%;
}
.reserva-izquierda__conteiner {
  height: 30vh;
  text-align: center;
}
.reserva-izquierda__formulario {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reserva-izquierda__section {
  width: 50%;
  height: 25vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.reserva-izquierda__datos {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 1.3vw;
}
.reserva-izquierda__informacion {
  width: 150px;
  height: 25px;
  margin: 1%;
}
.reserva-izquierda__nacimiento {
  padding-block-start: 2%;
}

.reserva-derecha {
  width: 20%;
  text-align: center;
  height: 45vh;
  background: #ffffff;
  border-radius: 15px;
  padding: 3%;
  margin-inline-start: 3%;
  margin-block-start: 3%;
}
.reserva-derecha__subtitle {
  padding-bottom: 4%;
  border-bottom: 2px solid rgba(71, 71, 71, 0.781);
}
.reserva-derecha__informacion {
  display: flex;
  justify-content: space-between;
}
.reserva-derecha__destacado {
  padding-block-start: 4%;
}

.reserva-pagar {
  width: 28%;
  height: 10vh;
  margin-inline-start: 15%;
  margin-block-start: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  top: 90vh;
}
.reserva-pagar:active {
  height: 10%;
  position: absolute;
}
.reserva-pagar__boton {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgb(45, 114, 45);
  border: 0;
  font-size: 35px;
  stroke: #000;
  stroke-width: 10px;
}
.reserva-pagar__boton:hover {
  cursor: pointer;
}
.reserva-pagar__continuar {
  z-index: 2;
  transition: 0.3s ease all;
  position: relative;
}
.reserva-pagar__transition {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.reserva-pagar__transition rect {
  width: 100%;
  height: 100%;
  stroke: #ffffff;
  stroke-width: 6px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: 0.6s ease all;
}
.reserva-pagar__transition:hover rect {
  stroke-dashoffset: 0;
}

.registrar {
  background-color: rgb(167, 167, 42);
  height: auto;
}
.registrar-encabezado {
  height: 15vh;
}
.registrar-principal {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.registrar-principal__title {
  padding: 1%;
  font-size: 2vw;
}
.registrar-principal__subtitle {
  padding: 1%;
  font-size: 1.5vw;
}
.registrar__formulario {
  width: 45vw;
  height: 98vh;
  margin-block: 1%;
}
.registrar__id {
  height: 10vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.registrar__id-conteiner {
  height: 100%;
  width: 45%;
  padding-inline: 1%;
  display: flex;
  flex-flow: column;
  align-items: right;
  justify-content: center;
  gap: 15%;
  font-size: 1.2vw;
}
.registrar__id-input {
  height: 4vh;
  border: none;
  background-color: rgb(167, 167, 42);
  border-bottom: 1px solid white;
  color: white;
}
.registrar__correo {
  display: flex;
  flex-flow: column;
  align-items: right;
  justify-content: right;
  height: 10vh;
  padding: 1%;
  font-size: 1.2vw;
}
.registrar__terminos {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
  height: 10vh;
  padding: 1%;
  font-size: 1.2vw;
}
.registrar__btn {
  border: none;
  height: 8vh;
  padding-inline: 5%;
  font-size: 2vw;
  border-radius: 20px;
  background-color: rgb(129, 129, 33);
  color: white;
  box-shadow: rgb(94, 94, 24) 0px 5px 15px;
}
.registrar__btn:hover {
  background-color: rgb(109, 109, 21);
}
.registrar__btn-conteiner {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

/*INICIO contenido genérico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*# sourceMappingURL=styles.css.map */
